/** General CSS */

html, body {
	font-family:Arial, sans-serif;
	height: 100%;
	width: auto;
}

ul {
	list-style-image: url('/images/button15.gif');
}

legend {
  font-weight: bold;
}

#error {
	color: red;
	font-weight: bold;
}
#takala {
	width: 80%;
	margin: 0 auto;
	position: relative;
}

/** Header */

#otsake {
	width: 100%;
	background-color: green;
  color: white;
  position: relative;
  text-align: center;
  height: auto;
}

#otsake {
  -moz-border-radius: 1em 1em 0 0;
  -webkit-border-radius: 1em 1em 0 0;
  -khtml-border-radius: 1em 1em 0 0;
  border-radius: 1em 1em 0 0;
}

#otsake h1:first-line {
	text-transform: uppercase;
}

#otsake h1:first-letter {
	font-size: 1.7em;
}

#otsake h1 {
	text-transform: uppercase;
}

#otsake h1 {
	font-size: 1.7em;
}

#otsikko {
  margin: 0 auto;
  width: 70%;
  border-bottom: 1px solid white;
}

#otsake hr {
	margin: 0% 10%;
	color: white;
}

#lang {
	text-align: right;
	padding-right: 2%;
	padding-top: 1%;
	margin-bottom: -2%;
	position: relative;
}

#lang a:hover {
	color: #006400;
}

#lang a:link , #lang a:visited {
	color: white;
	font-weight: normal;
}

#otsikko h1 {
	font-size: 4em;
	margin-top: 2%;
	padding-top: 1%;
	margin-bottom: -2%;
}

#otsikko p {
	font-weight: bold;
	font-size: 1.1em;
	margin-bottom: 0;
	padding-bottom: 0;
}

#navi {
	font-size: 1.2em;
	padding-bottom: 0;
	margin-bottom: 0;
	text-align: left;
	background-color: inherit;
}

#navilist {
	list-style: none;
	padding-bottom: 0;
	margin-bottom: 0;
}

#navilist li {
  display: inline;
	padding: 5px 10px 5px 10px;
	border-top: 1px solid #006400;
	border-left: 1px solid #006400;
	border-right: 1px solid #006400;
}

.shadow {
  box-shadow: 5px 5px 1px #A9A9A9;
  -moz-box-shadow: 5px 5px 1px #A9A9A9;
  -webkit-box-shadow: 5px 5px 1px #A9A9A9;
}

.rounded {
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px; /* future proofing */
  -khtml-border-radius: 10px; /* for old Konqueror browsers */
}

.rounded-top {
  -moz-border-radius: .5em .5em 0 0;
  -webkit-border-radius: .5em .5em 0 0 ;
  /* future proofing */
  border-radius: .5em .5em 0 0;
  /* for old Konqueror browsers */
  -khtml-border-radius: .5em .5em 0 0;
}

#navilist li:hover {
	background-color: #006400;
	color: Green;
	text-decoration: none;
}

#navilist a:hover {
  text-decoration: none;
}

#navilist .currpage {
  background-color: #d4d4d4;
}

#navilist .currpage:hover {
  background-color: #d4d4d4;
  text-decoration: none;
}


#navilist li a:active {
	color: green;
}


#navilist li a:link , #navilist li a:visited {
  color: white;
  font-weight: normal;
}

#navilist .currpage {
  background-color: #d4d4d4;
}

#navi .currpage a:link , #navi .currpage a:visited {
  color: #006400;
}

/** Content */

#mainsisalto , #sivusisalto , #login {
	position: relative;
	min-height: 25em;
	height: auto !important;
	height: 25em;
	padding-top: 0;
	margin-top: 0;
	margin-right: 0;
	border-bottom: 1px solid #006400;
	border-left: 1px solid #006400;
	border-right: 1px solid #006400;
}

#vasen {
	background-color: #d4d4d4;
	color: inherit;
	float:left;
	width: 70.9%;
	min-height: 25em;
	position: absolute;
	text-align: center;
	border-right: 3px solid white;

}

#oikea {
	background-color: #d4d4d4;
	color: inherit;
	min-height:25em;
	height: auto !important;
	height: 25em;
	position: absolute;
	left: 71.01%;
	width: 29%;
}

#vasen , #oikea {
	height: auto;
}

#lyhes {
	text-align: center;
	padding-left: 5%;
	width: 80%;
}

#content > #uutiset {
  height: auto;
}

#uutiset {
	margin: 0 5%;
	padding: 1% 0 0;
	height: 14em;
	overflow-y: auto;
}

#uutiset .contentfield {
	height: 90%;
	border: 1px solid green;
	margin: 0;
	line-height: 1.5em;
}

#uutiset legend {
	font-size: 1.2em;
}

#uutiset .uutinen:first-line {
	font-weight: bold;
}

#uutiset .uutinen {
	text-align: left;
	overflow: inherit;
	padding-left: 3%;
	margin-bottom: 0;
}

#links h4 {
    margin-bottom: 2%;
}
#links ul {
    margin-top: 0;
	margin-left: -5%;
}

#links li {
    font-size: smaller;
}

/** FOOTER */

footer {
	color:gray;
	font-size: small;
	margin: 5px auto 0;
	width: 100%;
	background-color: inherit;
	position: relative;
	text-align: center;
}

footer > a:active , footer > a:visited , footer > a {
	color: #A9A9A9  !important;
}

/** PRODUCTS */

.products > header {
  margin: 0 5%;
}

.products nav > ul {
  list-style: none outside none;
  margin: 0;
  padding: 0;
  padding-bottom: 1em;
  text-align: center;
}

.products nav > ul > li {
  display: inline;
  padding: 2px 2px;
  font-size: 0.8em;
}

.products nav > ul > li:first-child {
  padding: 2px 2px 2px 0;
}

.products nav > ul > li:last-child {
  padding: 2px 0 2px 2px;
}

.products > section {
  border-top: 2px dashed #006400;
  margin: 0 5%;
}

.products > section > * {
  margin-left: 1%;
}

.products section:last-child {
  margin-bottom: 5%;
}

/** Random */

#nayttely p {
	margin-top: 1px;
	text-align: right;
}

#nayttely h3 {
	margin-bottom: 0;
}

#nayttely span {
	padding: 3% 0 0 1%;
	display: block;
	font-size: medium;
}

.sisalto {
	margin: 0;
	padding: 1em 1em 0;
	overflow: auto;
	height: 100%;
}

#content {
	background-color: #d4d4d4;
	color: inherit;
	min-height: 25em;
	width: 100%;
	text-align: left;
	padding-top: 3%;
	padding-bottom: 1px;
}

#content.admin {
  padding: 3% 10% 1px 10%;
  width: auto;
}

.contentfield {
	border: 1px solid #006400; /*DarkGreen*/
	padding-left: 1%;
	margin: 0 10% 0 5%;
	text-align: left;
	line-height: 1.5em;
}

#content  p {
	text-align: center;
	padding-bottom: 1%;
}

#content.admin p {
  text-align: left;
}

#content.admin ul {
  padding-left: 10%;
}

.error {
  text-align: left !important;
  width: 60%;
}

#content span {
	color: #006400; /*DarkGreen*/
}

.pretty-tbl {
	border-collapse: collapse;
	margin: 0 auto;
}

.pretty-tbl caption {
	padding: 0 0 1% 1%;
	caption-side: top;
	text-align: left;
	font-weight: bold;
	min-width: 26em;
}

.pretty-tbl td , .pretty-tbl th {
	padding: 0.3em;
	text-align: center;
	background-color: #006400; /*DarkGreen*/
}

.pretty-tbl td {
	padding: 0.3em 0.8em;
	background-color: #8FBC8F; /*DarkSeaGreen*/
	border-bottom: 1px dashed #006400; /*DarkGreen*/
}

.pretty-tbl th {
	border-bottom: 2px solid black;
}

.pretty-tbl a {
	color: #006400; /*DarkGreen*/
}

.pretty-tbl tr:nth-of-type(2n+0) td {
	background-color: #3CB371;
}

#login {
	min-height: 10em;
	height: auto !important;
	height: 15em;
}

#login #content {
  height: 15em;
	padding-top: 2%;
}

#login .contentfield {
	padding-left: 5%;
}

#loginform {
	float: right;
	width: auto;
}
#logTex {
	float: left;
	padding-left: 3%;
	width: 60%;
}

#logTex p {
	text-align: left;
	padding-left: 2%;
}

#logintbl {
	padding-right: 20%;
}

#login .contentfield legend {
  font-size-adjust: 0.7;
  margin-right: 10%;
}

#content > p , #content > h3 , #content > h2 {
	padding-left: 5%;
}

.add input , .add select {
	margin: 1.8em 0 0 0;
	width: 47%;
	clear: right;
}

.add label {
	display: block;
	float: left;
	clear: left;
	text-align: right;
	width: 46%;
	padding-top: 0.25em;
	margin: 1em 5px 0 0;
}

.addd input:focus , select:focus {
	border: 1px solid #006400; /*DarkGreen*/
}

.add fieldset {
	padding: 1% 20px 20px;
  	border: 1px solid #3E4A49;
  	margin-right: 5%;
}

.add fieldset fieldset {
	margin-bottom: 2%;
}

.add form {
	border:2px solid #006400; /*DarkGreen*/
	color:#3E4A49;
	padding: 10px 20px 20px;
	margin: 0px 20%;
}

.add #buttons {
  text-align: right;
  margin: -10px 0 -10px 0;
}

.add input.button {
  width: auto;
  background: #FFFFFF;
  border: 2px solid #006400; /*DarkGreen*/
}

.add input.time {
	width: 14%;
	float: none;
	margin: 1.8em 4px 0 0;
}

#years {
  margin: 0 auto;
  text-align: center;
}

#yearslist {
  list-style: none;
  padding: 0;
}

.hidden {
  visibility: hidden;
  display: none !important;
}

.ylistI {
  display: inline;
	padding: 5px 10px;
	margin: 2%;
}

.add .hiddenLabel {
  visibility: hidden;
  margin: 0;
  padding: 0;
  float: left;
  clear: none;
  width: 0;
}

.add #addResult {
	margin: 1% 20% 0 20%;
	text-align: center;
}

#back {
  width: 100%;
  text-align: right;
  padding: 0;
  position: relative;
  right: 3%;
}

/** LINKS BEGIN */
a {
	text-decoration: none;
	font-weight: bold;
}

a:active {
	background-color: inherit;
	color: white;
}

a:hover {
  background-color: inherit;
  text-decoration: UNDERline;
  color: #006400;
}

a:visited {
  background-color: inherit;
  color: green;
}

a:link {
	background-color: inherit;
	color: green;
}

/** Contact */

#contactForm, .statusMessage {
  color: #666;
  background-color: #ebedf2;
  background-image: -moz-linear-gradient( center bottom, #dfe1e5 0%, #ebedf2 100% );
  background-image: -o-linear-gradient( center bottom, #dfe1e5 0%, #ebedf2 100% ); /* Opera 11.10+ */
  background-image: -webkit-gradient( linear, left bottom, left top, color-stop(0,#dfe1e5), color-stop(1, #ebedf2) );
  background-image: -webkit-linear-gradient( center bottom, #dfe1e5 0%, #ebedf2 100% ); /* Chrome 10+, Saf5.1+ */
  background-image: linear-gradient( center bottom, #dfe1e5 0%, #ebedf2 100% );
  border: 1px solid #aaa;
  -moz-box-shadow: 0 0 1em rgba(0, 0, 0, .5);
  -webkit-box-shadow: 0 0 1em rgba(0, 0, 0, .5);
  box-shadow: 0 0 1em rgba(0, 0, 0, .5);
  opacity: .95;
}

/* The form dimensions */

#contactForm {
  width: 40em;
  height: 41em;
  padding: 0 1.5em 1.5em 1.5em;
  margin: 1.5em auto;
  display: none ;
}


/* Position the form in the middle of the window (if JavaScript is enabled) */

#contactForm.positioned {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin-top: auto;
  margin-bottom: auto;
}


/* Dimensions and position of the status messages */

.statusMessage {
  display: none;
  margin: auto;
  width: 30em;
  height: 2em;
  padding: 1.5em;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.statusMessage p {
  text-align: center;
  margin: 0;
  padding: 0;
}


/* The header at the top of the form */

#contactForm h2 {
  font-size: 2em;
  font-style: italic;
  letter-spacing: .05em;
  margin: 0 0 1em -.75em;
  padding: 1em;
  width: 19.5em;
  color: white;
  background: green;
  border-bottom: 1px solid #aaa;
  -moz-border-radius: 10px 10px 0 0;
  -webkit-border-radius: 10px 10px 0 0;
  border-radius: 10px 10px 0 0;
}


/* Give form elements consistent margin, padding and line height */

#contactForm ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

#contactForm ul li {
  margin: .9em 0 0 0;
  padding: 0;
}

#contactForm input, #contactForm label {
  line-height: 1em;
}


/* The field labels */

label {
  display: block;
  float: left;
  clear: left;
  text-align: right;
  width: 28%;
  padding: .4em 0 0 0;
  margin: .15em .5em 0 0;
  font-weight: bold;
}


/* The fields */

input, textarea {
  display: block;
  margin: 0;
  padding: .4em;
  width: 67%;
  font-family: "Georgia", serif;
  font-size: 1em;
  border: 1px solid #aaa;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  -moz-box-shadow: rgba(0,0,0,.2) 0 1px 4px inset;
  -webkit-box-shadow: rgba(0,0,0,.2) 0 1px 4px inset;
  box-shadow: rgba(0,0,0,.2) 0 1px 4px inset;
  background: #fff;
}

textarea {
  height: 13em;
  line-height: 1.5em;
  resize: none;
}


/* Place a border around focused fields, and hide the inner shadow */

#contactForm *:focus {
  border: 1px solid #66f;
  outline: none;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}


/* Display correctly filled-in fields with a green background */

input:valid, textarea:valid {
  background: #dfd;
}


/* The Send and Cancel buttons */

input[type="submit"], input[type="button"] {
  float: right;
  margin: 2em 1em 0 1em;
  width: 10em;
  padding: .5em;
  border: 1px solid #666;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  -moz-box-shadow: 0 0 .5em rgba(0, 0, 0, .8);
  -webkit-box-shadow: 0 0 .5em rgba(0, 0, 0, .8);
  box-shadow: 0 0 .5em rgba(0, 0, 0, .8);
  color: #fff;
  background: #0a0;
  font-size: 1em;
  line-height: 1em;
  font-weight: bold;
  opacity: .7;
  -webkit-appearance: none;
  -moz-transition: opacity .5s;
  -webkit-transition: opacity .5s;
  -o-transition: opacity .5s;
  -ms-transition: opacity .5s;
  transition: opacity .5s;
}

input[type="submit"]:hover,
input[type="submit"]:active,
input[type="button"]:hover,
input[type="button"]:active {
  cursor: pointer;
  opacity: 1;
}

input[type="submit"]:active, input[type="button"]:active {
  color: #333;
  background: #eee;
  -moz-box-shadow: 0 0 .5em rgba(0, 0, 0, .8) inset;
  -webkit-box-shadow: 0 0 .5em rgba(0, 0, 0, .8) inset;
  box-shadow: 0 0 .5em rgba(0, 0, 0, .8) inset;
}

input[type="button"] {
  background: #f33;
}


/* Header/footer boxes */

.wideBox {
  clear: both;
  text-align: center;
  margin: 70px;
  padding: 10px;
  background: #ebedf2;
  border: 1px solid #333;
}

.wideBox h1 {
  font-weight: bold;
  margin: 20px;
  color: #666;
  font-size: 1.5em;
}

/* reCaptha settings */

#recaptcha_widget_div {
  float: right;
  padding-right: .8em;
}

#formButtons {
  clear: both;
}

/** FIXES */

/** HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}

/** Opera haxes begin */
@media all and (-webkit-min-device-pixel-ratio:10000), not all and (-webkit-min-device-pixel-ratio:0) {

  #oikea {
    left: 71.1%;
  }

  #vasen {
    width: 71%;
  }

}
/** Webkit haxes begin */

@media screen and (-widthebkit-min-device-pixel-ratio:0) {

  #oikea {
    width: 29.1%;
  }
}