#links ul {
	margin: 6%;
	padding-left: 10%;
}

#uutiset p {
	padding-left: 3%;
}

#otsake {
}

#sivusisalto {
}

#mainsisalto {
	/* height: 27em; */
}

#footer {

}

#oikea .sisalto {
    width: 90%;
    height: 24em;
}

.sisalto {
	/* height: 26em; */
}

#content fieldset {
	padding: 1%;
}

/** Contactform */

#contactForm.positioned, .statusMessage {
  left: 50%;
  top: 50%;
}

#contactForm.positioned {
  margin-left: -20em;
  margin-top: -16.5em;
}

.statusMessage {
  margin-left: -15em;
  margin-top: -1em;
}



